.order {
	padding: 10px 30px;
	width: 100%;
	float: left;
}

.order img{
	width: 70px;
	height: 70px;
	float: left;
	margin-right: 20px;
}

.order_title {
	font-weight: 700;
	font-size: 18px;
	color: #797979
}
.order_price {
	margin-top: 10px;
	font-weight: 500;
	font-size: 16px;
}

.order_delete_button {
	color: #ca5252;
	float: right;
	position: relative;
	top: -20px;
	cursor: pointer;
	transition: transform 0.5s ease;
}

.order_delete_button:hover {
	color: #dc0707;
	transform: scale(1.5);
}