.item_delete_icon {
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 30px;
	z-index: 3;
	transition: color 0.5s ease;
}

.item_delete_icon:hover {
	color: #ca5252;
}

.active {
	color: #dc3d3d;
	opacity: 1;
	transform: scale(1.3);
}

.edit_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

.edit {
	margin: 0px 15px 0 15px;
	padding: 15px 20px;
	width: 100%;
	resize: vertical;
	overflow: hidden;
	border-radius: 5px;
	background-color: #f1f1f1;
	border: 1px solid #bbb;
	min-height: 50px;
}

.edit:focus{
	box-shadow: 0 0 20px rgba(231, 226, 220, 0.732);
	background-color: white;
}

.form_error {
	margin: 5px 0;
	height: 15px;
	color: red;
	font-size: 14px;
	font-weight: bold;
}

.item_category {
	height: 50px;
	width: 100%;
	border-radius: 5px;
	font-size: 18px;
	padding: 0 20px;
	appearance: none;
	overflow: hidden;
	background-color: #f2f2f2;
	border: 1px solid silver;
}

.item_edit_button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	color:#fff;
	background: #ca5252;
	border-radius: 10px;
	transition: all 0.5s ease;
}

.item_edit_button:hover {
	opacity: 0.5;
}
