
.item_delete_button {
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 30px;
	z-index: 3;
	transition: color 0.5s ease;
}

.item_delete_button:hover {
	color: #ca5252;
}

.edit {
	padding: 10px;
	width: 80%;
	margin: 15px 20px;
	resize: vertical;
	overflow: hidden;
}

