.header_menu {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
}

.header_logo {
	font-family: 'Monoton', cursive;
	font-size: 30px;
}

.menu li {
	display: inline;
	margin-right: 40px;
	cursor: pointer;
	transition: all 0.5s ease;
	font-size: 18px;
}

.menu li:hover{
	opacity: 0.5;
}

.menu_cart {
	position: absolute;
	width: 450px;
	top: 30px;
	right: 0;
	background-color: #fafafa;
	z-index: 10;
	box-shadow: 4px 4px 15px -7px #606060;
	-webkit-box-shadow: 4px 4px 15px -7px #606060;
	-moz-box-shadow: 4px 4px 15px -7px #606060;
}

.menu_cart_button {
	cursor: pointer;
	transition: all 0.5s ease;
}

.menu_cart_button:hover {
	color: #dc3d3d;
	opacity: 1;
	transform: scale(1.3);
}

.menu_cart_empty {
	padding: 20px;
	font-size: 20px;
	font-weight: 500;
}

.menu_cart_empty svg {
	height: 15px;
	margin-left: 10px;
	color: #817f7f;
	line-height: 30px;
}

.active {
	color: #dc3d3d;
	opacity: 1;
	transform: scale(1.3);
}

.main-background {
	margin: 50px 0;
	width: 100%;
	height: 500px;
	background: url('../../img/main-image.jpg') no-repeat;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-blend-mode: multiply;
	background-color: #bcbcbc
}

.header_title {
	padding-top: 100px;
	padding-left: 50px;
	width: 400px;
	font-size: 40px;
	font-weight: 600;
	color: #ffff
}

.header_subtitle {
	padding-top: 30px;
	padding-left: 50px;
	width: 400px;
	font-size: 30px;
	color: #ffff
}

@media (max-width: 920.98px) {
	.container{
		padding: 30px 10px;
	}
	.header_menu{
		display: block;
	}
	.menu {
		margin-top: 20px;
	}
	.main-background {
		margin-top: 30px;
	}
 }

 @media (max-width: 570.98px) {
	.menu li{
		display: block;
		margin-top: 15px;
		font-size: 15px;
	}
	
	.menu_cart {
		width: 100%;
		top: 80px;
	}
	.menu_cart_button:hover {
		color:#000;
	}
	.header_menu {
		padding: 0;
	}
	.header_title{
		padding-left: 15px ;
		width: 100%;
	}
	.header_subtitle{
		padding-left: 15px ;
		font-size: 24px;
		width: 100%;
	}
 }